@media (min-width: 600px) {
.icon-acp, .icon-mcp, .icon-pm, .icon-faq, .time, .icon-notification {
      display: none !important
}}
@media (max-width: 600px) {
.welcbackhide{
      display: none !important
}}
.welcome-avatar img {
	margin-bottom: 2px;
	height: auto;
	vertical-align: middle;
	max-width: 90%;
	border: 2px solid #fff;
	border-color: #336699;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.welcome-avatar span:after {
	content: '\25BC';
	display: inline-block;
	font-size: 9px;
	float: right;
	padding-left: 2px;
	opacity: 0.7;
}

#blockwb {
	display: block; 
	text-align: center; 
	border:none; 
	width: 20%;
}

#blockwb1 {
	display: block; 
	padding:5px; 
	width:25%;
}

#blockwb2 {
	display: block; 
	padding:5px; 
	width:35%;
}

#blockwb3 {
	display: block; 
	padding: 5px; 
	margin-top: -15px; 
	width: 20%;
}
